name: Code Quality Check
on: [workflow_dispatch]
permissions:
  contents: read

jobs:
  code-quality-check:
    strategy:
      matrix:
        on: [ubuntu-24.04, windows-2025, macos-26-intel]
    runs-on: ${{ matrix.on }}
    timeout-minutes: 30
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - name: Set up .NET 10
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # 5.1.0
        with:
          dotnet-version: '10.0.x'
          dotnet-quality: 'ga'
      - name: Restore dependencies for .NET
        run: dotnet restore
      - name: Check code formatting & analyzers
        run: |
          dotnet tool restore || true
          dotnet format --verify-no-changes --verbosity minimal
          dotnet format analyzers --verify-no-changes --verbosity minimal
